body{
    margin:0;
    padding:0;
    font-family: Arial;
    }
    em{color: red;}
    
    #main{
    width: 700px; /*Width of main container*/
    margin: 0 auto; /*Center container on page*/
    display: flex;
    }
    
    header{
    background: green;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    }
    #content{
    margin: 30px;
    text-align: justify;
    }
    ::selection{
        background: green;
        color: white;
    }
    #leftcolumn{
    width: 107px; /*Width of left column*/
    height: 600px;
    background: red;
    color: white;
    padding: 0px 25px 0px 40px;
    }
    a{
        text-decoration: underline;
    }
    a:hover{background: green;}

    footer{
    background: black;
    color: white;
    text-align: center;
   
    }
    
    
    
    
    
  